<template>
    <div class="rumah-rusak">
      <v-tabs color="primary"
        slider-color="yellow">
        <v-tab>
          <v-icon>list</v-icon> Data Table
        </v-tab>
        <v-tab>
          <v-icon>map</v-icon> Map
        </v-tab>
        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <v-data-table
                :headers="headers"
                :items="rumahs"
                hide-actions
                class="elevation-1"
              >
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.nmPemilik }}</td>
                  <td class="text-xs-center">{{ props.item.nikPemilik }}</td>
                  <td class="text-xs-center">{{ props.item.strTingkatKerusakan }}</td>
                  <td class="text-xs-center">{{ props.item.strStatusReruntuhan }}</td>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card flat>
            <v-card-text>Map</v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs>
    </div>
</template>
<script>
import GoogleMaps from "@/pages/map/Map";
export default {
  components: {
    GoogleMaps
  },
  computed: {
    rumahs() {
      return this.$store.getters["rumahRusakStore/getRumahs"];
    }
  },
  data() {
    return {
      headers: [
        {
          text: "Nama Pemilik",
          align: "left",
          sortable: true,
          value: "nmPemilik"
        },
        {
          text: "NIK",
          align: "left",
          sortable: true,
          value: "nikPemilik"
        },
        {
          align: "center",
          sortable: true,
          text: "Tingkat Kerusakan",
          value: "strTingkatKerusakan"
        },
        {
          text: "Status Reruntuhan",
          align: "center",
          sortable: true,
          value: "strStatusReruntuhan"
        }
      ]
    };
  },
  beforeMount() {
    this.getData();
  },
  mounted() {
    console.log(this.rumahs);
  },
  methods: {
    getData() {
      this.$store.dispatch("rumahRusakStore/fetchRumahs");
    },
    setRumahs(rumah) {
      this.$store.dispatch("rumahRusakStore/setRumahs", rumah);
    }
  }
};
</script>

